.Rproj.user
.Rhistory
.RData
.Ruserdata
Mendeley.bib
.DS_Store
.Rapp.history
dissertation.rds
whyMail.bbl
whyMail.blg
whyMail.log
whyMail.pdf.zip
whyMail.synctex.gz
whyMail.thm
intro-motivation.log
book.log
judgelord.log
judgelord.Rmd
judgelord.pdf
judgelord.tex
_bookdown_files
