00-abstract.html
influence-appendix.html
influence-appendix_cache
influence-appendix.bbl
influence-appendix.blg
influence-appendix.ent
influence-appendix.tex
influence-appendix.toc
influence-appendix.log
influence-appendix_files
figs
