ej.log
appendix_cache
ej-appendix_cache
01-intro.html
02-data.html
ej-appendix.html
ej_models.html
ej.bbl
ej.synctex.gz
ej.tex
figs
ej.pdf
ej_cache
ej-article.synctex.gz
ej-article.log
ej-article.bbl
ej-appendix_files
ej.sh
