masscomments.Rdata
ejFRnew.Rdata
comments_min.Rdata
ejPRnew.Rdata
ejcommentsnew.Rdata
org_comments.Rdata
rules_metadata.Rdata
coalitions_coded.Rdata
backup
ua.Rdata
rules.Rdata
comments_mass.Rdata
Lobbbying_Summary.csv
comments_codedJULY16.Rdata
comments_codedJuly30.Rdata
congress_datasheet.csv
mass_raw.Rdata
oversight.rda
asian_org.csv
asian_org_funding.csv
comments_coded.Rdata
comments_congress.Rdata
comments_congress_clean.csv
comments_congress_coded.Rdata
congress_coded.Rdata
congress_coded.csv
ejFR_PR.Rdata
ejFRejPR.Rdata
ej_data_clean.Rdata
ejorgs_summary.Rdata
elected.Rdata
latino_org.csv
latino_org_funding.csv
letters_congress_coded.Rdata
org_counts.Rdata
org_counts_summary.Rdata
oversight.rdata
surnames.csv
topagencies.Rdata
topdockets.Rdata
winrate.Rdata
Deregulation-tracker-data-Final.csv
PS%2BPR%2BFR %22environmental%2Bjustice%22 .csv
ej_race.Rdata
org_comments_summary.Rdata
